---
import Section from './Section.astro';
---

<Section>
	<footer class="text-center">
		<a class="hover:text-orange-600 underline" href="https://github.com/innerviewer">innerviewer.</a>
	</footer>
</Section>
